<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>Title</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    {% if css %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=css) }}">
    {% endif %}
</head>
<body><!-- Navbar -->
    <header>
        <nav class="nav-bar">
            <ul>
                <div class="logo"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" width="150px"></div>
                <li><a href="{{ url_for('hello') }}">Home</a></li>
                <li><a href="{{ url_for('dashboard') }}">Generate Notes</a></li>
                <li><a href="/">Saved Notes</a></li>
                <li><a href="/">About</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('account') }}">Account</a></li>
                    <li><a href="{{ url_for('logout') }}" class="button">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}" class="button">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="">
        {% with messages=get_flashed_messages(with_categories=True)%}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-links">
                <a href="#">About</a>
                <a href="#">Contact</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms</a>
            </div>
            <p>© 2025 <span class="brand">Gistify</span>. All rights reserved.</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>